<div class="container">
  <div class="card border-0 shadow my-5">
      <div class="card-body p-5">

  <!--Section: Content-->
  <section class="dark-grey-text">

      

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-8">
            <h1>Checkout:</h1>
            <!-- Pills navs -->
            <hr>

            <!-- Pills panels -->
            <div class="tab-content pt-4">

              <!--Panel 1-->
              <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">

                <!--Card content-->
                <form>

                  <!--Grid row-->
                  <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">

                      <!--firstName-->
                      <label for="firstName" class="">First name</label>
                      <input type="text" id="firstName" class="form-control">

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 mb-2">

                      <!--lastName-->
                      <label for="lastName" class="">Last name</label>
                      <input type="text" id="lastName" class="form-control">

                    </div>
                    <!--Grid column-->

                  </div>
                  <!--Grid row-->

                    <!--Username code was here-->

                  <!--email-->
                  <label for="email" class="">Email (optional)</label>
                  <input type="text" id="email" class="form-control mb-4" placeholder="youremail@example.com">

                  <!--address-->
                  <label for="address" class="">Address</label>
                  <input type="text" id="address" class="form-control mb-4" placeholder="1234 Main St">

                  <!--address-2-->
                  <label for="address-2" class="">Address 2 (optional)</label>
                  <input type="text" id="address-2" class="form-control mb-4" placeholder="Apartment or suite">

                  <!--Grid row-->
                  <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                      <label for="country">Country</label>
                      <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>American Samoa</option>
                        <option>Andorra</option>
                        <option>Angola</option>
                        <option>Anguilla</option>
                        <option>Antigua & Barbuda</option>
                        <option>Argentina</option>
                        <option>Armenia</option>
                        <option>Aruba</option>
                        <option>Australia</option>
                        <option>Austria</option>
                        <option>Azerbaijan</option>
                        <option>Bahamas</option>
                        <option>Bahrain</option>
                        <option>Bangladesh</option>
                        <option>Barbados</option>
                        <option>Belarus</option>
                        <option>Belgium</option>
                        <option>Belize</option>
                        <option>Benin</option>
                        <option>Bermuda</option>
                        <option>Bhutan</option>
                        <option>Bolivia</option>
                        <option>Bonaire</option>
                        <option>Bosnia & Herzegovina</option>
                        <option>Botswana</option>
                        <option>Brazil</option>
                        <option>British Indian Ocean Ter</option>
                        <option>Brunei</option>
                        <option>Bulgaria</option>
                        <option>Burkina Faso</option>
                        <option>Burundi</option>
                        <option>Cambodia</option>
                        <option>Cameroon</option>
                        <option>Canada</option>
                        <option>Canary Islands</option>
                        <option>Cape Verde</option>
                        <option>Cayman Islands</option>
                        <option>Central African Republic</option>
                        <option>Chad</option>
                        <option>Channel Islands</option>
                        <option>Chile</option>
                        <option>China</option>
                        <option>Christmas Island</option>
                        <option>Cocos Island</option>
                        <option>Colombia</option>
                        <option>Comoros</option>
                        <option>Congo</option>
                        <option>Cook Islands</option>
                        <option>Costa Rica</option>
                        <option>Cote DIvoire</option>
                        <option>Croatia</option>
                        <option>Cuba</option>
                        <option>Curacao</option>
                        <option>Cyprus</option>
                        <option>Czech Republic</option>
                        <option>Denmark</option>
                        <option>Djibouti</option>
                        <option>Dominica</option>
                        <option>Dominican Republic</option>
                        <option>East Timor</option>
                        <option>Ecuador</option>
                        <option>Egypt</option>
                        <option>El Salvador</option>
                        <option>Equatorial Guinea</option>
                        <option>Eritrea</option>
                        <option>Estonia</option>
                        <option>Ethiopia</option>
                        <option>Falkland Islands</option>
                        <option>Faroe Islands</option>
                        <option>Fiji</option>
                        <option>Finland</option>
                        <option>France</option>
                        <option>French Guiana</option>
                        <option>French Polynesia</option>
                        <option>French Southern Ter</option>
                        <option>Gabon</option>
                        <option>Gambia</option>
                        <option>Georgia</option>
                        <option>Germany</option>
                        <option>Ghana</option>
                        <option>Gibraltar</option>
                        <option>Great Britain</option>
                        <option>Greece</option>
                        <option>Greenland</option>
                        <option>Grenada</option>
                        <option>Guadeloupe</option>
                        <option>Guam</option>
                        <option>Guatemala</option>
                        <option>Guinea</option>
                        <option>Guyana</option>
                        <option>Haiti</option>
                        <option>Hawaii</option>
                        <option>Honduras</option>
                        <option>Hong Kong</option>
                        <option>Hungary</option>
                        <option>Iceland</option>
                        <option>Indonesia</option>
                        <option>India</option>
                        <option>Iran</option>
                        <option>Iraq</option>
                        <option>Ireland</option>
                        <option>Isle of Man</option>
                        <option>Israel</option>
                        <option>Italy</option>
                        <option>Jamaica</option>
                        <option>Japan</option>
                        <option>Jordan</option>
                        <option>Kazakhstan</option>
                        <option>Kenya</option>
                        <option>Kiribati</option>
                        <option>Korea North</option>
                        <option>Korea South</option>
                        <option>Kuwait</option>
                        <option>Kyrgyzstan</option>
                        <option>Laos</option>
                        <option>Latvia</option>
                        <option>Lebanon</option>
                        <option>Lesotho</option>
                        <option>Liberia</option>
                        <option>Libya</option>
                        <option>Liechtenstein</option>
                        <option>Lithuania</option>
                        <option>Luxembourg</option>
                        <option>Macau</option>
                        <option>Macedonia</option>
                        <option>Madagascar</option>
                        <option>Malaysia</option>
                        <option>Malawi</option>
                        <option>Maldives</option>
                        <option>Mali</option>
                        <option>Malta</option>
                        <option>Marshall Islands</option>
                        <option>Martinique</option>
                        <option>Mauritania</option>
                        <option>Mauritius</option>
                        <option>Mayotte</option>
                        <option>Mexico</option>
                        <option>Midway Islands</option>
                        <option>Moldova</option>
                        <option>Monaco</option>
                        <option>Mongolia</option>
                        <option>Montserrat</option>
                        <option>Morocco</option>
                        <option>Mozambique</option>
                        <option>Myanmar</option>
                        <option>Nambia</option>
                        <option>Nauru</option>
                        <option>Nepal</option>
                        <option>Netherland Antilles</option>
                        <option>Netherlands (Holland, Europe)</option>
                        <option>Nevis</option>
                        <option>New Caledonia</option>
                        <option>New Zealand</option>
                        <option>Nicaragua</option>
                        <option>Niger</option>
                        <option>Nigeria</option>
                        <option>Niue</option>
                        <option>Norfolk Island</option>
                        <option>Norway</option>
                        <option>Oman</option>
                        <option>Pakistan</option>
                        <option>Palau Island</option>
                        <option>Palestine</option>
                        <option>Panama</option>
                        <option>Papua New Guinea</option>
                        <option>Paraguay</option>
                        <option>Peru</option>
                        <option>Philippines</option>
                        <option>Pitcairn Island</option>
                        <option>Poland</option>
                        <option>Portugal</option>
                        <option>Puerto Rico</option>
                        <option>Qatar</option>
                        <option>Republic of Montenegro</option>
                        <option>Republic of Serbia</option>
                        <option>Reunion</option>
                        <option>Romania</option>
                        <option>Russia</option>
                        <option>Rwanda</option>
                        <option>St Barthelemy</option>
                        <option>St Eustatius</option>
                        <option>St Helena</option>
                        <option>St Kitts-Nevis</option>
                        <option>St Lucia</option>
                        <option>St Maarten</option>
                        <option>St Pierre & Miquelon</option>
                        <option>St Vincent & Grenadines</option>
                        <option>Saipan</option>
                        <option>Samoa</option>
                        <option>Samoa American</option>
                        <option>San Marino</option>
                        <option>Sao Tome & Principe</option>
                        <option>Saudi Arabia</option>
                        <option>Senegal</option>
                        <option>Seychelles</option>
                        <option>Sierra Leone</option>
                        <option>Singapore</option>
                        <option>Slovakia</option>
                        <option>Slovenia</option>
                        <option>Solomon Islands</option>
                        <option>Somalia</option>
                        <option>South Africa</option>
                        <option>Spain</option>
                        <option>Sri Lanka</option>
                        <option>Sudan</option>
                        <option>Suriname</option>
                        <option>Swaziland</option>
                        <option>Sweden</option>
                        <option>Switzerland</option>
                        <option>Syria</option>
                        <option>Tahiti</option>
                        <option>Taiwan</option>
                        <option>Tajikistan</option>
                        <option>Tanzania</option>
                        <option>Thailand</option>
                        <option>Togo</option>
                        <option>Tokelau</option>
                        <option>Tonga</option>
                        <option>Trinidad & Tobago</option>
                        <option>Tunisia</option>
                        <option>Turkey</option>
                        <option>Turkmenistan</option>
                        <option>Turks & Caicos Is</option>
                        <option>Tuvalu</option>
                        <option>Uganda</option>
                        <option>United Kingdom</option>
                        <option>Ukraine</option>
                        <option>United Arab Emirates</option>
                        <option>United States of America</option>
                        <option>Uruguay</option>
                        <option>Uzbekistan</option>
                        <option>Vanuatu</option>
                        <option>Vatican City State</option>
                        <option>Venezuela</option>
                        <option>Vietnam</option>
                        <option>Virgin Islands (Brit)</option>
                        <option>Virgin Islands (USA)</option>
                        <option>Wake Island</option>
                        <option>Wallis & Futana Is</option>
                        <option>Yemen</option>
                        <option>Zaire</option>
                        <option>Zambia</option>
                        <option>Zimbabwe</option>
                  

                      </select>
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                      <label for="state">State</label>
                      <select class="custom-select d-block w-100" id="state" required>
                        <option value="">Choose...</option>
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>Arizona</option>
                        <option>Arkansas</option>
                        <option>California</option>
                        <option>Colorado</option>
                        <option>Connecticut</option>
                        <option>Delaware</option>
                        <option>District of Columbia</option>
                        <option>Florida</option>
                        <option>Georgia</option>
                        <option>Hawaii</option>
                        <option>Idaho</option>
                        <option>Illinois</option>
                        <option>Indiana</option>
                        <option>Iowa</option>
                        <option>Kansas</option>
                        <option>Kentucky</option>
                        <option>Louisiana</option>
                        <option>Maine</option>
                        <option>Maryland</option>
                        <option>Massachusetts</option>
                        <option>Michigan</option>
                        <option>Minnesota</option>
                        <option>Mississippi</option>
                        <option>Missouri</option>
                        <option>Montana</option>
                        <option>Nebraska</option>
                        <option>Nevada</option>
                        <option>New Hampshire</option>
                        <option>New Jersey</option>
                        <option>New Mexico</option>
                        <option>New York</option>
                        <option>North Carolina</option>
                        <option>North Dakota</option>
                        <option>Ohio</option>
                        <option>Oklahoma</option>
                        <option>Oregon</option>
                        <option>Pennsylvania</option>
                        <option>Rhode Island</option>
                        <option>South Carolina</option>
                        <option>South Dakota</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Utah</option>
                        <option>Vermont</option>
                        <option>Virginia</option>
                        <option>Washington</option>
                        <option>West Virginia</option>
                        <option>Wisconsin</option>
                        <option>Wyoming</option>
                      
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                      <label for="zip">Zip</label>
                      <input type="text" class="form-control" id="zip" placeholder="" required>
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>

                    </div>
                    <!--Grid column-->

                  </div>
                  <!--Grid row-->

                  <hr>

                  

                  

                  <button class="btn btn-primary btn-lg btn-block" type="submit">Next step</button>

                </form>

              </div>
              <!--/.Panel 1-->

              <!--/.Panel 3-->

            </div>
            <!-- Pills panels -->


          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 mb-4">

            

            <!--Card-->
            <div class="card z-depth-0 border border-light rounded-0">

              <!--Card content-->
              <div class="card-body">
                <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Summary</h4>

                <div class="cart-item" *ngFor="let item of items">
                  <span>{{ item.name }}</span>
                  <span>{{ item.price | currency }}</span>
                </div>
                <button (click)="clearCart()">Empty</button>
              </div>

            </div>
            <!--/.Card-->



          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      

  </section>
  <!--Section: Content-->


</div></div>
</div>