<div class="container my-5 py-5">


    <!--Section: Content-->
    <section class="text-center">


      <!--Grid row-->
      <div class="row">

       
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">

          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Samsung CT-567</a></p>

          <p class="mb-1"><strong>$299</strong></p>

          

          

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        
        </div>
    
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Dell V-964i</a> </p>

          <p class="mb-1"><strong>$299</strong> </p>

          

       

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Sony TV-675</a></p>

          <p class="mb-1"><strong>$299</strong></p>

          

       

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  
  <div class="container my-5 py-5">


    <!--Section: Content-->
    <section class="text-center">


      <!--Grid row-->
      <div class="row">

       
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">

          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Samsung CT-567</a></p>

          <p class="mb-1"><strong>$299</strong></p>

          

          

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        
        </div>
    
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Dell V-964i</a> </p>

          <p class="mb-1"><strong>$299</strong> </p>

          

       

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
          <a href="" class="waves-effect waves-light"><img
              src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid"
              alt=""></a>

          <p class="mb-1"><a href="" class="font-weight-bold black-text">Sony TV-675</a></p>

          <p class="mb-1"><strong>$299</strong></p>

          

       

          <button type="button" class="btn btn-primary btn-rounded btn-sm px-3">Buy Now</button>
          
        </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>