<!-- 
<div *ngFor="let product of products; index as productId">

  <img *ngIf='product.imageUrl' [src]='product.imageUrl' width="200">

  <h3>
    <a [title]="product.name + ' details'" >
      {{ product.name }}
    </a>
    <h4>{{ product.price | currency }}</h4>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <button (click)="addToCart(product)">Buy</button>
  

</div> -->
<div class="container">
  <div class="card border-0 shadow my-5">
      <div class="card-body p-5">

        <h1>Products:</h1>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>

        <tbody>
          <tr *ngFor='let product of products'>
            <td>
              <img *ngIf='product.imageUrl' [src]='product.imageUrl' width="200">

            </td>
            <td>{{ product.name }}</td>
            <td><h3>{{ product.description }}</h3></td>
            <td>{{ product.price | currency }}</td>
            <td>
                          <button mat-raised-button color="primary" (click)="addToCart(product)">Buy</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div></div>

